.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px;
   font-size: 40px;
    background: url(../../assets/img/movie-background-collage_23-2149876007.avif);
    background-repeat: no-repeat;
    text-transform: uppercase;
    margin-bottom: 100px;
    background-size: cover;
    
}
.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.active{
    color: #F4B400;
}

