.container {
  padding: 60px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../../assets/img/movie-background-collage_23-2149876007.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.actorGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px; 
  column-gap: 40px;
  list-style: none;
  padding: 0;
}

.actorCard {
  text-align: center;
}

.actorCard img {
  width: 50%; 
  height: auto;
  border-radius: 10px;
}

.actorCard p {
  margin: 10px 0 0;
}